.journalEntry{
    display: flex;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 10px;   
    transition: background-color 0.3s ease;
    transition: box-shadow 0.3s ease;

}
.journalEntry:hover{
    background-color: rgb(244, 244, 244);
    box-shadow: 2px 2px 2px black;
    border-radius: 10px;
}
.container{


    width: 125px;
    height: 186px;
    overflow: hidden;
    border-radius: 10px;
    flex-shrink: 0;
    margin-right: 19px;

}
.img1{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container:hover .img1{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.marker{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    vertical-align: middle;
}
.date{
    font-size: 0.9rem;
    font-weight: bold;
    margin: 5px 0;
}
.description{
    font-size: 0.9rem;
    line-height: 1.4;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.title{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
    text-decoration: underline 1.4px;
}
.anchor{
    margin-left: 10px;
    
}

.container {
    overflow: hidden;
}
