
.hr1{

    font-family: Arial, Helvetica, sans-serif;
    background-color: #f55a5a;
    height: 60px;
    display: flex ;
    color: white;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;

}

.hr1 > h1{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: bold;
    transition: text-decoration 0.3s ease;
}

.hr1 > h1:hover{
    text-decoration: underline 2px;
}