.card{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%,0.5);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
}
.card-img{
    max-width: 60%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;

}
.title{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color:rgb(46, 42, 51);
       
}
.card-text{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(43, 42, 44);
}