body{
    background-color: rgb(0, 90, 90);
    /* background-color: darkblue; */
}
.to-do-list{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;

}
h1{
    color: whitesmoke;
    font-size: 4rem;
}
button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.add-btn{
    background-color: hsl(125, 47%, 54%);
}
.add-btn:hover{
    background-color: hsl(125, 47%, 44%);
}
.delete-btn{
background-color: hsl(10, 90%, 50%);
}
.delete-btn:hover{
background-color: hsl(10, 90%, 40%);
}

.move{
background-color: hsl(207, 90%, 64%);
}
.move:hover{
background-color: hsl(207, 90%, 54%);
}
input[type="text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
}
ol{
    padding: 0;
}
li{
font-size: 2rem;
font-weight: bold;
padding: 15px;
background-color: hsl(0,0%,97%);
margin-bottom: 10px;
border: 3px solid hsla(0,0%,85%,0.75);
border-radius: 5px;
display: flex;
align-items: center;
}
.text{
flex:1;
}

.delete-btn, .move{
 padding: 8px 12px;
 font-size: 1.4rem;
 margin-left: 10px;
    
}