.welcome{
    font-size: 2.5em;
    background-color: lightgreen;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-shadow: 2px 3px 1px black;

}
.login{
    font-size: 2.5em;
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-shadow: 2px 3px 1px black;

}
