.myMainElement{
    padding: 30px 10px 30px;
}

.ingredientForm{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 36px;
    gap: 12px;
    margin-top: 40px;
    /* background-color: red; */

    
}
.ingredientInput{
    border-radius: 6px;
    border: 1px solid #D1D5D8;
    padding: 9px 13px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.05);
    flex-grow: 1;
    min-width: 150px;
    max-width: 500px;
}
.ingredientButton{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    border: none;
    background-color: #141413;
    color: white;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 500;
    padding: 5px 5px;

}
.ingredientButton::before{
    content: "+";
    margin-right: 5px;
}