.stateImpDiv{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20vh;
    align-items: center;
    justify-content: center;
    gap: 0px;

}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}
.center button{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50%;
    border: none;
    background-color: #282827;
    color: white;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 10px 15px;

    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
}
.count{
    font-size: 2rem;
    /* margin-top: 20px; */
    border: 1px solid white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px 20px; */
    text-align: center;
    background-color: white;
    color: black;
}
.myGo{
    /* margin: 40px 0 0 20px; */
    padding: 40px;
    color: white;
    background-color: #141413;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 50%;
    /* border: none; */
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
.myGo:hover{
    background-color: #333333;
    color: white;
    cursor: pointer;
}